{% extends "home/base/base.html" %}
{% block title %}Job Details{% endblock title %}

{% block content %}

<div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
    <div class="container">
        <div class="row gy-5 gx-4">
            <div class="col-lg-8">
                <div class="d-flex align-items-center mb-5">
                    <img class="flex-shrink-0 img-fluid border rounded" src="{{the_post.company.brand_logo.url}}" alt="" style="width: 80px; height: 80px;">
                    <div class="text-start ps-4">
                        <h3 class="mb-3">{{the_post.job_title}}</h3>
                        <span class="text-truncate me-3"><i class="fa fa-map-marker-alt text-primary me-2"></i>{{the_post.location}}</span>
                        <span class="text-truncate me-3"><i class="far fa-clock text-primary me-2"></i>{% if the_post.full_time  %}Full Time{% else %}Part Time{% endif %}</span>
                        <span class="text-truncate me-0"><i class="far fa-money-bill-alt text-primary me-2"></i>${{the_post.salary_range_start}} - ${{the_post.salary_range_end}}</span>
                    </div>
                </div>

                <div class="mb-5">
                    <h4 class="mb-3">Job description</h4>
                    {{the_post.description|safe}}
                    <h4 class="mb-3">Requirments</h4>                    
                    {{the_post.requirements|safe}}
                    <h4 class="mb-3">Qualifications</h4>
                    {{the_post.qualification}}
                </div>

                {% if user.is_authenticated %}
                
                {% if user.role == "job_seekers" %}
                
                <div class="container">
                    <h4 class="mb-4">Apply For The Job</h4>
                    <form method = "POST">
                        {% csrf_token %}
                        <div class="row g-3">                            
                            <div class="col-12 col-sm-6">
                                <input type="email" class="form-control" placeholder="Your Email">
                            </div>
                            <div class="col-12 col-sm-6">
                                <input type="text" class="form-control" placeholder="Portfolio Website Link">
                            </div>
                            <div class="col-12 col-sm-6">
                                <input type="file" class="form-control bg-white">
                            </div>
                            <div class="col-12">
                                <textarea class="form-control" rows="5" placeholder="Coverletter(If want to provide)"></textarea>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-primary w-100" type="submit">Apply Now</button>
                            </div>
                        </div>
                    </form>
                
                
                </div>
                {% else %}
                <div class="container d-flex justify-content-center ">
                    <h5 class="text-warning">You are not a job seeker</h5>
                </div>
                {% endif %}

                {% else %}
                <div class="container d-flex justify-content-center ">
                    <h5>Please login to apply for this job.</h5>
                </div>
                {% endif %}

            </div>

            <div class="col-lg-4">
                <div class="bg-light rounded p-5 mb-4 wow slideInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: slideInUp;">
                    <h4 class="mb-4">Job Summery</h4>
                    <p><i class="fa fa-angle-right text-primary me-2"></i>Published On: 01 Jan, 2045</p>
                    <p><i class="fa fa-angle-right text-primary me-2"></i>Vacancy: {{the_post.vacancy}} Position</p>
                    <p><i class="fa fa-angle-right text-primary me-2"></i>Job Nature:{% if the_post.full_time  %}Full Time{% else %}Part Time{% endif %}</p>
                    <p><i class="fa fa-angle-right text-primary me-2"></i>Salary: ${{the_post.salary_range_start}} - ${{the_post.salary_range_end}}</p>
                    <p><i class="fa fa-angle-right text-primary me-2"></i>Location: {{the_post.location}}</p>
                    <p class="m-0"><i class="fa fa-angle-right text-primary me-2"></i>Date Line: {{the_post.deadline}}</p>
                </div>
                <div class="bg-light rounded p-5 wow slideInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: slideInUp;">
                    <h4 class="mb-4">Company Detail</h4>
                    <p class="m-0">{{the_post.company.about}}</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
